.container {
    text-align: center;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#header {
    background-color: #333;
    text-align: center;
    height: 8rem;
}


#node-logo img{
    margin-top: 0.5rem;
    max-height: 75px;
}

.divider-pipeline {
    margin: -0.2rem;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.divider-pipeline li,
.list-divider-pipe li {
    display: inline-block;
}

.divider-pipeline li + li:before,
.list-divider-pipe li + li:before {
    content: '|';
    padding: 0 .3em 0 .1em;
    color: #999;
}

#header nav a, #header nav a:link, #header nav a:active {
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 13px;
    color: #ccc !important;
}

.nav-foundation {
    background-color: #026e00;
    height: 2rem;
    margin-bottom: 0;
    padding-bottom: 12px;
}

#header li {
    position: relative;
}


/* Body */
.jumbotron {
    background-color: #FFFFFF !important;
    margin-bottom: 0 !important;
}

h2 {
    padding-top: 10px;
}

.lts-current {
    display: inline-block;
    margin: 0 12px;
    width:300px;
    text-align: center;
 }

.home-downloadbutton {
    display: block;
    margin-bottom: 8px;
    padding: .3rem .4rem;
    background-color: #026e00;
    color: #fff !important;
    font-size: 30px;
    text-decoration: none !important;
} 

.home-downloadbutton:hover {
    background: rgba(67,133,62,1);
}

.home-downloadbutton small {
    display: block;
    font-size: 1rem;
}

.home-secondary-links a {
    color: #51744e;
}

.home-secondary-links {
    color: #51744e;
    font-size: .9rem;
}

ul.list-divider-pipe {
    text-align: center;
    padding: 0;
}

strong:hover {
    background-color: #026e00 !important;
}

.list-home-links:hover {
    color: #51744e;
}

/* Footer */
.footer {
    background-color: #333;
    height: 200px;
}

#linux-footer {
    flex-wrap: wrap;
    padding-top: 1rem;
    padding: 1em 20px;
    font-size: 14px;
    color: #fff;
    background: #333;
    flex-direction: row;
    text-align: left;
}

footerP, 
.footerlinkP {
    text-decoration: none !important;
}

p.footerP strong:hover {
    background-color: none !important;
}

.footerP {
    display: inline-flex;
}

.footerlinkP {
    padding-left: 0.5rem;
}

.divider-footer-line {
    text-align: right;
    display: inline;
    margin-left: 10rem;
}

.divider-footer-line li {
    display: inline-block;
}

.divider-footer-line li + li:before {
    content: '|';
    padding: 0 .3em 0 .1em;
    color: #999;
}

.link-footer {
    font-size: 13px;            
    color: #ccc !important;
}

p.footerP-1 {
    margin: 0.25px;
}

p.footer-1{
    font-size: small !important;
}

p.footer-2{
    font-size: smaller !important;
}

p.footer-3{
    font-size: x-small !important;
}

p.footer-4{
    font-size: xx-small !important;
}