body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 400 20px/1.5 'Source Sans Pro',Open Sans,Roboto,'San Francisco',Helvetica,Arial,sans-serif;
    color: #333;
    margin: 0;
    background-color: #fff;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
}

#wrapper > * {
  flex: 1 100%;
}

#header {
    background-color: #333;
    text-align: center;
    display: block;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

#node-logo img{
    height: block;
    margin: .5em auto 0 auto;
    border: none;
    max-height: 75px;
    max-width: 180px;
}

#header nav {
    cursor: default;
}

nav {
    display: block;
}

.divider-pipeline {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list-divider-pipe li {
    display: inline-block;
}

#header nav a, #header nav a:link, #header nav a:active {
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ccc !important;
}

.nav-foundation {
    background-color: #026e00;
}

#header li {
    position: relative;
}

.list-divider-pipe li + li:before {
    content: '|';
    padding: 0 .3em 0 .1em;
    color: #999;
}

/* Body */
.jumbotron {
    display: flex;
    background-color: #FFFFFF !important;
    /*padding-bottom: 180px !important;*/
    padding: 0;
}

#para-div {
    padding: 10px;
    text-align: center;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    padding-top: 10px;
    text-align: center;
}

.lts-current {
    display: inline-block;
    margin: 0 8px;
    width:300px;
    text-align: center;
 }

a, a:link, a:active {
    color: #43853d;
    text-decoration: none;
    border-radius: 2px;
}

.home-downloadbutton {
    display: block;
    margin: 10px 4px;
    padding: .2em .6em;
    background-color: #026e00;
    color: #fff !important;
    border-radius: 2px;
    font-size: 30px;
    font-weight: 400;
    -webkit-transition: .2s background-color ease-in-out;
    transition: .2s background-color ease-in-out;
}

.home-downloadbutton small {
    display: block;
    font-size: 1rem;
}

.home-secondary-links a {
    color: #51744e;
}

.home-secondary-links {
    color: #51744e;
    font-size: .9rem;
}

ul.list-divider-pipe {
    text-align: center;
    padding: 0;
}

strong:hover {
    background-color: #026e00 !important;
}

/* Footer */
.footer {
    background-color: #333;
    text-align: center;
    display: block;
    width: 100%;
    height: 200px;
}

.divider-footer-line {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

/* Media Query */

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  #header { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  #header { flex: 2 0px; }
  .jumbotron { order: 1; }
  .footer  { order: 2; }
}
